---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: 'Titillium Web', sans-serif;
$base-font-size:   1.25em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$base-font-weight: 300;
$heading-font-weight: 200;

$spacing-unit:     30px;

$text-color: rgb(233, 233, 233);
$h1-text-color: rgb(179, 255, 179);
$h2-text-color: darken($h1-text-color, 10%);
$h3-text-color: darken($h1-text-color, 20%);
$h4-text-color: darken($h1-text-color, 30%);


$background-color: rgb(62, 62, 62);
$link-color:      rgb(156, 255, 156);
$link-color-hover:  lighten($link-color, 10%);
$link-color-visited:  darken($link-color, 20%);

$blue-color: rgb(0, 0, 255);
$blue-color-dark: darken($blue-color, 10%);
$blue-color-light: lighten($blue-color, 10%);

$white-color: rgb(255, 255, 255);
$black-color: rgb(20, 20, 20);
$black-color-dark: darken($black-color, 10%);
$black-color-light: lighten($black-color, 10%);

$grey-color: rgb(138, 137, 137);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$color-button-bg: lighten($background-color, 20%);
$color-button-text: $link-color-visited;

$black-rgba-color: rgba(0, 0, 0, 0.8);

// Width of the content area
$content-width:    1100px;

$on-palm:          600px;
$on-laptop: $content-width;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "header",
    "mobile-header",
    "base",
    "layout",
    "syntax-highlighting",
    "image";
