---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: 'Titillium Web', sans-serif;
$base-font-size:   1.25em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       rgb(226, 226, 226);
$background-color: #525252;
$brand-color:      #9cff9c;

$blue-color-dark: darken(#5d5f61, 10%);
$blue-color-light: #000408;

$grey-color: $brand-color;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$new-color-button-bg: #b0acac;
$new-color-button-text: rgb(255, 0, 0);
$new-color-tosu: #b00000;
$new-color-tosu-bg: #f5f5f5;

$new-white-color: #ffffff;
$new-grey-color: grey;

$new-light-grey-color: #f3f3f3;
$new-black-color: #000000;

$new-light-grey-color-2: #a9a8a8;
$new-grey-rgb-color: rgb(209, 209, 209);

$new-black-rgba-color: rgba(0,0,0,0.8);

$update-text: rgb(255, 0, 0);

// Width of the content area
$content-width:    1100px;

$on-palm:          600px;
$on-laptop: $content-width;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "header",
    "mobile-header",
    "base",
    "layout",
    "syntax-highlighting",
    "image"
;
