@use "sass:math";

/**
 * Site footer
 */
 .site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: math.div($spacing-unit, 2);
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $link-color;
    margin-left: -(math.div($spacing-unit, 2));
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: math.div($spacing-unit, 2);
    padding-left: math.div($spacing-unit, 2);
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

h1 /* .post-title */ {
    margin-top: 10px;
    letter-spacing: -1px;
    line-height: 1;
    font-family: 'Titillium Web', sans-serif;
    color: $white-color;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 500;
        color: $h2-text-color;  // Example color for h2

        @include media-query($on-laptop) {
            // Adjust font size on laptop
        }
    }

    h3 {
        font-style: italic;
        font-weight: 500;
        color: $h3-text-color;  // Example color for h3

        @include media-query($on-laptop) {
            // Adjust font size on laptop
        }
    }

    h4 {
        color: $h4-text-color;  // Example color for h4

        @include media-query($on-laptop) {
            // Adjust font size on laptop
        }
    }
}

.footnotes ol li {
    list-style-type: decimal;
}

.footnotes ol {
    font-size: .85em;
    color: $grey-color-light;
}

html {
    overflow-y: scroll;
}

ul.listing {
    list-style-type: none;
    margin-left: 0px;
}

ul.listing li.listing-seperator {
    padding-top: 15px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.17em;
}

ul.listing li.listing-item time {
    color: $grey-color;
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 10px;
}

ul.listing li.listing-item a {
    color: $blue-color-dark;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
}

/**
 * Updates section
 */
.updates {
    color: $update-text;  // Replace with a defined color variable
    height: 10em;
    overflow-y: scroll;
}

/**
 * Image styling for inline images
 */
.image-inline {
    display: inline-block;
    width: 300px;
    height: 200px;
}


.about-container {
    display: flex;
    justify-content: space-between;
}

.about-text {
    width: 66%;
    text-align: justify;
}

.about-images {
    width: 33%;
}

.profile-image {
    width: 100%;
    margin-bottom: 15px; /* Adds some space between images */
}